/*CustomCSS*/

/***+ MEDIA QUERY +***/

body{
	font-family: sans-serif;
	background-color:grey;
    margin: auto;
}

h1 {
	font-size:70px;
	color:white;
    margin: auto;
}

.mainBody{
	margin:0 auto;
	border: 2px solid green;
    padding:1%;
}

.column {
border: 1px solid orange;
overflow:hidden;
}

.columns {
border: 1px solid purple;
overflow:hidden;
}

.imgScale {
    width:100%;
    height:auto;
}
