/*CustomCSS*/

/***+ MEDIA QUERY +***/

body{
	font-family: sans-serif;
	background-color:grey;
    margin: auto;
    background-color:#F0EEE1;
}

header {
    border: 1px solid white;
    background-color:#84989F;
}

h1 {
	font-size:70px;
	color:white;
    text-align: center;
}

.mainBody{
	margin:0 auto;
	border: 2px solid #F0EEE1;
    padding:1%;
}

.column {
border: 1px solid orange;
overflow:hidden;
}

.columns {

overflow:hidden;
}

.imgScale {
    width:100%;
    height:auto;
}

#center {
margin-left: 25%;
}

footer {
border: 1px solid #84989F;
background-color:#84989F;
height:7em;
width: auto;
}
