/*CustomCSS*/

/***+ MEDIA QUERY +***/

body{
	font-family: sans-serif;
	background-color:grey;
    margin: auto;

}

header {
    border: 1px solid white;

}

h1 {
	font-size:70px;
	color:white;
    text-align: center;
}

.mainBody{
	margin:0 auto;
	border: 2px solid green;
    padding:1%;
}

.column {
border: 1px solid orange;
overflow:hidden;
}

.columns {
border: 1px solid purple;
overflow:hidden;
}

.imgScale {
    width:100%;
    height:auto;
}

#center {
margin-left: 25%;
}

footer {
border: 1px dotted orange;
height:5%;
width: auto;
}
